<div class="header">
  <h2>Header</h2>
  <div class="top-right">
    <app-switchlayout></app-switchlayout>
  </div>
</div>

<div class="row">
  <div class="column" style="background-color:#aaa;">
  <app-lay1comp>
    <h1>Card comp1</h1>
    <p>This is card1</p>
  </app-lay1comp>
</div>
  <div class="column" style="background-color:#bbb;">
    <app-lay1comp>
      <h1>Card comp2</h1>
      <p>This is card2</p>
    </app-lay1comp>
  </div>
  <div class="column" style="background-color:#ccc;">
    <app-lay1comp>
      <h1>Card comp3</h1>
      <p>This is card3</p>
    </app-lay1comp>
    <app-shared1>
      <div>
      <h1>Shared componenet</h1>
      <p>Content projection</p>
      </div>
    </app-shared1>
  </div>
</div>

<div class="footer">
  <p>Footer</p>
</div>
