<div class="header">
  <h2>Header</h2>
  <div class="top-right">
    <app-switchlayout></app-switchlayout>
  </div>
</div>

<div class="row">
  <div class="column side" style="background-color:#aaa;">
    <app-lay3comp>
      <div>
      <h1>Layout 3 component</h1>
      <p>Content projection</p>
      </div>
    </app-lay3comp>
  </div>
  <div class="column middle" style="background-color:#bbb;">
    <app-shared1>
      <div>
      <h1>Shared componenet</h1>
      <p>Content projection</p>
      </div>
    </app-shared1>
  </div>
  <div class="column side" style="background-color:#ccc;">
    <app-lay3comp>
      <div>
      <h1>Layout 3 component</h1>
      <p>Content projection</p>
      </div>
    </app-lay3comp>
  </div>
</div>

<div class="footer">
  <p>Footer</p>
</div>
